* {
    padding: 0;
    margin: 0;
}

.container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.chess {
    width: 100%;
    height: 100%;
    text-align: center;
}

.chess_head {
    text-transform: uppercase;
    margin: 40px 0 20px 0;
    text-align: center;
}

.chess_table {
    width: 100%;
    height: 100%;
    border: 20px solid #a71800;
    position: relative;
}

.chess_table tr {
    position: relative;
}

.chess_table tr:nth-child(odd) td:nth-child(odd):after,
.chess_table tr:nth-child(even) td:nth-child(even):after
{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(150,55,0,.5);
    left: 0;
    top: 0;
}

.chess_table td {
    background: url('../img/2.jpg');
    border: 1px solid #eee;
    text-align: center;
    position: relative;
    width: 70px;
    height: 70px;
}

.chess_table td:first-child:after {
    display: none;
}

.chess_table_x td:nth-child(odd):after {
    display: none;
}

.chess_table td:first-child, .chess_table_x td {
    width: 30px;
    font-weight: 600;
    font-size: 12px;
    border: none;
    background: none !important;
    color: #fff;
}

.chess_table td:first-child {
    position: absolute;
    left: -25px;
    top: 30px;
}

.chess_table_x {
    position: absolute !important;
    width: 100%;
}

.chess_table_x td {
    border: none;
    width: 70px;
    height: 20px;
}

.btn {
    padding: 10px 40px;
    display: inline-block;
    background-color: cadetblue;
    transition: all .3s;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px;
}

.btn:hover {
    cursor: pointer;
    background-color: cornflowerblue;
}

.display_none {
    display: none;
}

.figure {
    width: 60px;
    height: 60px;
    margin: auto;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
}

.pawn_black {
    background: url('../img/chess.png') no-repeat 100% 100%;
    background-size: 610%;
}

.pawn_white {
    background: url('../img/chess.png') no-repeat 100% 0;
    background-size: 610%;
}

.rook_black {
    background: url('../img/chess.png') no-repeat 80% 100%;
    background-size: 610%;
}

.rook_white {
    background: url('../img/chess.png') no-repeat 80% 0;
    background-size: 610%;
}

.horse_black {
    background: url('../img/chess.png') no-repeat 60% 100%;
    background-size: 610%;
}

.horse_white {
    background: url('../img/chess.png') no-repeat 60% 0;
    background-size: 610%;
}

.elephant_black {
    background: url('../img/chess.png') no-repeat 40% 100%;
    background-size: 610%;
}

.elephant_white {
    background: url('../img/chess.png') no-repeat 40% 0;
    background-size: 610%;
}

.queen_black {
    background: url('../img/chess.png') no-repeat 20% 100%;
    background-size: 610%;
}

.queen_white {
    background: url('../img/chess.png') no-repeat 20% 0;
    background-size: 610%;
}

.king_black {
    background: url('../img/chess.png') no-repeat 0 100%;
    background-size: 610%;
}

.king_white {
    background: url('../img/chess.png') no-repeat 0 0;
    background-size: 610%;
}